[Unit]
Description=FastAPI Application for ARSINOE
After=network.target

[Service]
User=apiuser
WorkingDirectory=/apps/app_repo/arsinoe_server
ExecStart=/apps/app_repo/arsinoe_server/venv/bin/gunicorn -c /apps/app_repo/arsinoe_server/gunicorn.conf.py main:app
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target