[Unit]
Description=FastAPI Application for ARSINOE
After=network.target

[Service]
User=apiuser  # Run as the non-root user
WorkingDirectory=/apps/app_repo/arsinoe_server  # Your project directory
ExecStart=/apps/app_repo/arsinoe_server/venv/bin/gunicorn -c /apps/app_repo/arsinoe_server/gunicorn.conf.py main:app  # Start Gunicorn
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
