<footer class="footer">
    <div class="content is-vcentered">
        <div class="has-text-right">
            <p>
                <img src="https://arsinoe-project.eu/securstorage/2022/02/europe-flag.png" alt="European Union flag" style="height: 20px; margin-right: 0.5rem; vertical-align: middle;">
                This project has received funding from the European Union’s Horizon H2020 innovation action programme under grant agreement 101037424.
            </p>
        </div>
    </div>
</footer>